@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #F2EE9D;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: poppins;
}

.mainCardContainer {
  background-color: #ffff;
  border-radius: 4px;
  width: 1021px;
  height: 583px;
  flex-shrink: 0;
  padding: 10px;
  box-shadow: 5px 10px;
}
#error {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  top: 70px;
  left: 300px;
}

.hasilSection {
  display: inline-block;
  border-radius: 4px;
  background: #7A9D54;
  width: 539.866px;
  height: 521.234px;
  flex-shrink: 0;
  margin: 30.88px;
  position: relative;
  bottom: 48px;
  color: #ffff;
  box-shadow: 5px 10px black;
}

.tableHasilSection {
  display: table;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hasilAtas {
  width: 500px;
  height: 220px;
  flex-shrink: 0;
}

.hasilBawah {
  border-radius: 4px;
  width: 500px;
  height: 220px;
  flex-shrink: 0;
  background-color: #557A46;
}

.nilaiSection {
  display: inline-block;
  width: 100%;
  height: 50%;
  margin: auto;
  text-align: center;
}

.penjelasanSection {
  display: inline block;
  width: 100%;
  height: 50%;
  margin: auto;
  text-align: center;
}

.inputSection {
  display: inline-block;
  width: 332px;
  height: 459px;
  flex-shrink: 0;
  position: relative;
  margin-left: 70px;
  top: 50px;
  align-items: center;
}

.tableInputSection {
  display: table;
  width: 99.5%;
  height: 19.6%;
}

.rowWidth {
  display: table;
  width: 99.5%;
  height: 25%;
}

.cellWidth {
  display: table-cell;
  width: 50%;
  height: 48%;
}

.btn {
  width: 132.42px;
  height: 45.072px;
  flex-shrink: 0;
  border-radius: 4px;
  box-shadow: 5px 10px;
  border: 0px;
}

.input {
  width: 291px;
  height: 45.072px;
  flex-shrink: 0;
  border-radius: 4px;
}

#submitBtn {
  background-color: #557A46;
  color: #ffff;
  padding: 10px;
  box-shadow: 5px 10px black;
}

#radio {
  display: flex;
  border: 1px solid;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 10px;
  border-color: #c0bfbf;
  accent-color: #557A46;
}
